#content {
  display: grid;
  height: 100vh;

  grid-template-columns: max-content 1fr;
  grid-template-rows: max-content 1fr;
}

#header-container {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#side-bar-container {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 2rem;
  box-sizing: border-box;

  overflow-y: scroll;
  max-height: 100%;
}

#document-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
