.clickable {
  cursor: pointer;
}

.form-section {
  padding: 1.5rem;
  width: 300px;

  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 12px;
  box-shadow: 0px 0px 6px 2px rgba(49, 45, 45, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  display: flex;
  flex-direction: column;

  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}

.input-field > input {
  height: 20px;
  padding: 4px 0px;
  color: rgb(77, 77, 77);
}

.input-field > textarea {
  height: 80px;
  padding: 4px 8px;

  border-radius: 6px;
}

.input-field > label {
  font-size: 12px;
  color: rgb(107, 107, 107);
}

.btn-container {
  margin-top: 0.5rem;
  display: flex;
  gap: 0.8rem;
}

button {
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 6px;
}

.submit-btn {
  background-color: rgb(95, 172, 77);
}

.cancel-btn {
  background-color: rgb(208, 99, 99);
}

.add-btn {
  background-color: rgb(213, 104, 217);
}

.edit-btn,
.del-btn {
  width: 24px;
  height: 24px;
  padding: 4px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  background: rgb(205, 156, 156);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-btn {
  background: rgb(159, 188, 124);
}

.del-btn {
  background: rgb(201, 126, 126);
}

.education-item,
.experience-item {
  background-color: rgb(245, 245, 245);
  padding: 0.6rem 1rem;
  border-radius: 8px;

  display: flex;
  gap: 1.5rem;
}
