.clickable {
  cursor: pointer;
}

.form-section {
  padding: 1.5rem;
  width: 300px;

  background-color: white;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  border-radius: 12px;
  box-shadow: 0px 0px 6px 2px rgba(49, 45, 45, 0.4);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-field {
  display: flex;
  flex-direction: column;

  background-color: rgb(245, 245, 245);
  border-radius: 8px;
  padding: 0.4rem 0.8rem;
}

.input-field > input {
  height: 20px;
  padding: 4px 0px;
  color: rgb(77, 77, 77);
}

.input-field > textarea {
  height: 80px;
  padding: 4px 8px;

  border-radius: 6px;
}

.input-field > label {
  font-size: 12px;
  color: rgb(107, 107, 107);
}

.form-btns {
  margin-top: 0.5rem;
  display: flex;
  gap: 1rem;
}

button {
  padding: 0.6rem 1rem;
  color: white;
  border-radius: 6px;
}

.submit-btn {
  background-color: rgb(95, 172, 77);
}

.cancel-btn {
  background-color: rgb(208, 99, 99);
}
