.header {
  display: flex;
  justify-content: center;

  background-color: white;

  padding: 0.5rem;

  box-shadow: 0px 0px 12px 4px rgba(49, 45, 45, 0.4);
  border-bottom: solid;
  border-color: rgb(199, 199, 199);
}
